html {
    // background-image: url("./../img/FIFA-World-Cup-Qatar-2022.jpg");
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    height: 100%;

}

body {
    background-image: url("./../img/CL.jpg");
    // background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    // background-position: center;
    // height: 100%;
    margin: 0px;
    padding: 0px;
}

.main-content {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // margin-top: -50px;
    // margin-left: -50px;
    // margin: auto;
    // // width: 50%;
    // // border: 3px solid green;
    // // padding: 10px;
    // width: 100px;
    // height: 100px;
    // background: grey;

    display: flex;
    justify-content: center;
    // position: absolute;
    // top: 40%;
    /* left: 50%; */
    margin-top: -50px;
    margin-left: -50px;
    margin: auto;
    width: 100%;
    // height: 300px;
    background: #1a151587;
    flex-direction: column;
    // align-items: center;
    justify-content: flex-start;
}

.players-wrapper {


    display: flex;

    margin: auto;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.single-player {
    position: relative;
    background: #1c1111bf;
    // padding: 8px;
    border: solid 1px white;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    margin-bottom: 50px;
}

.player-img {
    border-radius: 33px;
    padding: 5px;
    background: slategrey;
    display: block;

    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 12px 10px 8px 10px;
}

.player-name {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 25px;
}

.countDown {
    display: flex;
    margin-bottom: 17px;
    // display: none;
    justify-content: center;
}

.countDown div {
    flex-basis: 100px;
    text-align: center;
}

.countDown div p {
    font-size: 60px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 20px;
    color: white;


}

.countDown div span {
    margin-left: 20px;
    font-size: 25px;
    font-weight: bold;

    color: white;

}

.countDown-heading {
    color: white;
    font-weight: bold;
}

.fifa-time {
    color: white;
    font-size: 30px;
}

.hide {
    display: none;
}

@media all and (max-width: 1550px) {
    .players-stats-wrapper {
        width: 30% !important;

    }
    .teams-stats-wrapper{
        width: 30% !important;  
    }

    // .players-wrapper {
    //     width: 100%;

    //     justify-content: space-around;
    // }
}

@media all and (max-width: 1100px) {
    .players-stats-wrapper {
        width: 40% !important;

    }
    .teams-stats-wrapper{
        width: 40% !important;  
    }
    // .players-wrapper {
    //     width: 100%;

    //     justify-content: space-around;
    // }
}

@media all and (max-width: 1050px) {
    .player-img {
        width: 125px;
        height: 125px;

    }
    .welcome-content-wrapper{
        flex-direction: column;
        align-items: center;
    }

    // .players-wrapper {
    //     width: 100%;

    //     justify-content: space-around;
    // }

}

@media all and (max-width: 920px) {
    body {
        background-position: center;
    }

    .main-content {
        // width: auto;
        top: 0;
    }

    .players-wrapper {
        flex-direction: column;
        width: 200px !important;
    }

    .player-img {
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .countDown div span {
        font-size: 20px;
    }

    .players-stats-wrapper {
        width: 100% !important;

    }
    .teams-stats-wrapper{
        width: 100% !important;

    }
}

@media all and (max-width: 345px) {
    .countDown div p {
        font-size: 34px;
    }

    .countDown div span {
        font-size: 13px !important;
    }

    .player-stats-img {


        padding-left: 5px;
    }
}






.last-matches {
    margin-top: 0px;
    background: #000000bf;
    /* padding: 0px 2px 0px 0px; */
    padding: 4px 0px 4px 0px;
    border-top: 1px solid #ffffffc7;
    ;
    /* border-bottom: 1px solid; */
    margin-bottom: 0px;
    color: white;
    font-weight: bold;
}

.win {
    color: #5eac24;
    font-weight: bold;
}

.draw {
    color: grey;
    font-weight: bold;

}

.lose {
    color: red;
    font-weight: bold;



}

.outOfForm {
    background: red;
}

.inForm {
    background: greenyellow;
}

.player-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.player-stats-img {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0px 5px 0px 5px;
}

.player-profile {
    display: flex;
    position: relative;
}

.player-stats-name {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-left: 5px;
}

.event-wrapper {
    width: 100%;
}

.countDown-heading {
    text-align: center;
}

.players-stats-wrapper {
    width: 22%;

    // margin-left: 10px;
}

.player-stats {
    display: flex;

    justify-content: space-between;
    margin-bottom: 5px;
    border-bottom: 1px solid white;
    margin-top: 6px;


}

.boldme {
    text-align: center;

    font-weight: bold;
    margin-left: 10px;
}

.stats-heading {
    text-align: center;
    color: white;
    font-weight: bold;

}

.player-played {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-left: 5px;
    // padding: 0px 7px 0px 7px;
    
    padding: 0px 20px 0px 7px;
}

.players-results-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

// .unknown {
//    padding-left:13px ;
// }

.unknown-matches {
    color: white;
    font-weight: bold;
    padding-right: 14px;
    border-right: 1px solid white;

}

.unknown-win {
    color: #5eac24;
    font-weight: bold;
    padding: 0px 10px 0px 10px;
    border-right: 1px solid white;
}

.unknown-draw {
    color: grey;
    font-weight: bold;
    padding: 0px 10px 0px 10px;
    border-right: 1px solid white;
}

.unknown-lose {
    color: red;
    font-weight: bold;
    padding: 0px 10px 0px 10px;
}

.player-wins {
    // padding: 0px 7px 0px 27px;
    padding: 0px 7px 0px 24px;
 
}

// .player-played{
//     padding: 0px 7px 0px 7px;
// }
.player-draws {
    padding: 0px 7px 0px 7px;
}

.player-lose {
    padding: 0px 13px 0px 7px;
}
.teams-stats-wrapper{
    width: 22%;
}
.welcome-content-wrapper{
    display: flex;
    justify-content: space-around;
}
.team-trophy{
    position: absolute;
    top: 3px;
    left: 39px;
 
}
.trophy{
    position: absolute;
    top: 3px;
    left: 39px;
 
}
.unknown-points{
    color: rgb(221, 233, 54);
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid white;
}
.player-pts{
    color:rgb(221, 233, 54);
}
.cups-wrapper{
    position: absolute;
    top: -20px;
    left: 3px;
    width: 100px;
}
.not-applicable{
    color: white;
    font-weight: bold;
    opacity: 1;
}

.teams-pick-up{
// display: none;
width: 22%;
    

    
}
.event-date{
    color: white;
    font-weight: bold;
    border: 1px solid #b1ac1b;

    width: fit-content;
    margin: auto;
    padding: 2px 12px 2px 12px;
    border-radius: 12px;
    background: #1e18146b;
}

.countDownPickUp{
    display: flex;
    // display: hide;
    margin-bottom: 17px;

    justify-content: space-around;
    color: white;
    font-weight: bold;
}
.countDownPickUp div{
    text-align: center;
}
.countDownPickUp p{
    font-size: 30px;
}
.countDownPickUp span{
    font-size: 22px;
}
.team-draws-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // display: none;

}